/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataTable {
    width: 100% !important;
}

.bt-action {
    &.edit {
        background-color: transparent;
        color: royalblue;
    }
    &.delete {
        background-color: transparent;
        color: red;
    }
}

.container-light {
    position: relative;
    padding: 1.5rem;
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0px 5px 15px -1px rgba($color: #000000, $alpha: 0.065);
    max-width: 100%;

    .dataTables_filter {
        text-align: right;
    }

    .dataTables_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .row:nth-child(2) {
            overflow-x: auto;
        }
    }

    .pagination {
        justify-content: flex-end;
    }

    .thumb-container {
        max-width: 180px;
        max-height: 180px;
        overflow: hidden;
    }

    .sm-thumb-container {
        padding: 3px solid rgb(201, 201, 201);
        max-width: 50px;
        max-height: 50px;
        border-radius: 50px;
        overflow: hidden;
    }

    .thumb-img {
        max-width: 180px;
    }

    .sm-thumb {
        max-width: 50px;
    }
}

//Utilities

.cursor-pointer {
    cursor: pointer !important;
}

.abs-top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
