/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 3px solid #efefef;
    border-radius: 16px;
    background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

html {
    scroll-behavior: smooth;
}

.dataTable {
    width: 100% !important;
    min-height: 300px !important;
}

.dataTables_wrapper {
    .row:nth-child(2) {
    }
}

.dropdown-menu {
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.05) !important;
}

.bt-small {
    padding: 0.5rem !important;
    font-size: 12px;
}

.bt-action {
    &.edit {
        background-color: transparent;
        color: royalblue;
    }
    &.delete {
        background-color: transparent;
        color: red;
    }
}

.container-light {
    position: relative;
    padding: 1.5rem;
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0px 5px 15px -1px rgba($color: #000000, $alpha: 0.065);
    max-width: 100%;

    .dataTables_filter {
        text-align: right;
    }

    .dataTables_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .row:nth-child(2) {
            overflow-x: auto;
        }
    }

    .pagination {
        justify-content: flex-end;
    }

    .thumb-container {
        max-width: 180px;
        max-height: 180px;
        overflow: hidden;
    }

    .sm-thumb-container {
        padding: 3px solid rgb(201, 201, 201);
        max-width: 50px;
        max-height: 50px;
        border-radius: 50px;
        overflow: hidden;
    }

    .thumb-img {
        max-width: 180px;
    }

    .sm-thumb {
        max-width: 50px;
    }
}

//Utilities

.cursor-pointer {
    cursor: pointer !important;
}

.abs-top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
