.bt-action.edit {
  background-color: transparent;
  color: royalblue;
}

.bt-action.delete {
  background-color: transparent;
  color: red;
}

.container-light {
  position: relative;
  padding: 1.5rem;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.065);
  max-width: 100%;
}

.container-light .dataTables_filter {
  text-align: right;
}

.container-light .dataTables_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container-light .dataTables_wrapper .row:nth-child(2) {
  overflow-x: auto;
}

.container-light .pagination {
  justify-content: flex-end;
}


