/* width */

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border: 3px solid #efefef;
  border-radius: 16px;
  background: #666;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

html {
  scroll-behavior: smooth;
}

#clock {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.dataTable {
  width: 100% !important;
  min-height: 300px !important;
}

.dropdown-menu {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05) !important;
}

.bt-small {
  padding: 0.5rem !important;
  font-size: 12px;
}

.bt-action.edit {
  background-color: transparent;
  color: royalblue;
}

.bt-action.delete {
  background-color: transparent;
  color: red;
}

.container-light {
  position: relative;
  padding: 1.5rem;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.065);
  max-width: 100%;
}

.container-light .dataTables_filter {
  text-align: right;
}

.container-light .dataTables_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container-light .dataTables_wrapper .row:nth-child(2) {
  overflow-x: auto;
}

.container-light .pagination {
  justify-content: flex-end;
}

.container-light .thumb-container {
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
}

.container-light .sm-thumb-container {
  padding: 3px solid #c9c9c9;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.container-light .thumb-img {
  max-width: 180px;
}

.container-light .sm-thumb {
  max-width: 50px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.abs-top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-dot-dark {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.info-dot-dark::before {
  content: "";
  display: inline-flex;
  align-self: center;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: #555;
  margin-right: 5px;
}

.info-dot-white {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.info-dot-white::before {
  content: "";
  display: inline-flex;
  align-self: center;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: white;
  margin-right: 5px;
}

.sub-info-dot-white {
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.75);
}


