/* width */

::-webkit-scrollbar {
  width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dataTable {
  width: 100% !important;
}

.bt-action.edit {
  background-color: transparent;
  color: royalblue;
}

.bt-action.delete {
  background-color: transparent;
  color: red;
}

.container-light {
  position: relative;
  padding: 1.5rem;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.065);
  max-width: 100%;
}

.container-light .dataTables_filter {
  text-align: right;
}

.container-light .dataTables_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container-light .dataTables_wrapper .row:nth-child(2) {
  overflow-x: auto;
}

.container-light .pagination {
  justify-content: flex-end;
}

.container-light .thumb-container {
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
}

.container-light .sm-thumb-container {
  padding: 3px solid #c9c9c9;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.container-light .thumb-img {
  max-width: 180px;
}

.container-light .sm-thumb {
  max-width: 50px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.abs-top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


